<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <title>Andrew's Page</title>
    <script src="https://cdn.jsdelivr.net/npm/sigplot/dist/sigplot-debug.js"></script>
</head>

<body class="bg">
    <div class="container">
    <h1>Running on a Raspberry Pi 4</h1>
    <ascii><rbp_g>         .~~.   .~~.
        '. \ ' ' / .' </rbp_g> <rbp_r>
         .~ .~~~..~.
        : .~.'~'.~. :
       ~ (   ) (   ) ~
      ( : '~'.~.'~' : )
       ~ .~ (   ) ~. ~
        (  : '~' :  )
         '~ .~~~. ~'
             '~'</rbp_r></ascii>
    <h1>Data</h1>
    <p>SDR Capture Time:   <time id="capture_t"></time> <time>ms</time></p>
    <p>CPU Usage is:       <temp id="rpi_usage">   </temp><temp>%</temp></p>
    <p>Local Time is:      <time id="local_t"></temp></p>
    <p>Mountain Time is:   <time id="mt_t"></temp></p>

    <button class="btn btn-primary">Primary button</button>
    <p></p>

    <h1>Plotting</h1>
    <div id="plot_table">
        <div id="row1">
          <div id="plot1"></div>
          <div id="plot2"></div>
          <div id="plot3"></div>
        </div>
        <div id="row2">
          <div id="plot4"></div>
          <div id="plot5"></div>
          <div id="plot6"></div>
        </div>
    </div>
    </div>
</body>
</html>
